bin/exe
lib/libdemo_lib.so*
CMakeCache.txt
CMakeFiles
# cmake will create this; bmake will use BSDmakefile instead, so all is ok.
Makefile
cmake_install.cmake
demo_exe
ossl_cnf*
*.a
*.core
*.debug
*.dylib
*.full
*.o
*.so
.depend*
